In [1]:
def my_sum(a,b):
    return a + b

In [2]:
my_sum(5,6)

11

In [7]:
def my_sum(a, b,  c = 0):
    return a + b + c

In [8]:
my_sum(5,6)

11

In [9]:
my_sum(5,6, 9)

20

In [10]:
my_sum(5,6,9,2)

TypeError: my_sum() takes from 2 to 3 positional arguments but 4 were given

In [11]:
def c_sum(*args):
    print(args)

In [12]:
c_sum(5,6,8,9,10)

(5, 6, 8, 9, 10)

In [13]:
def c_sum(*args):
    print(args)
    return sum(args)

In [16]:
c_sum(5,4,2,10,20)

(5, 4, 2, 10, 20)

41

In [17]:
def c_sum(*args):
    s = 0
    for i in args:
        s += i
    return s

In [18]:
c_sum(5,4,2,10,20)

41

In [20]:
def c_sum(*args, **kwargs):
    print(kwargs)
    s = 0
    for i in args:
        s += i
    return s

In [21]:
c_sum(5,4,2,10,20)

{}

41

In [22]:
c_sum(5,4,2,10,20, a = 50, f = 500, w = 200)

{'a': 50, 'f': 500, 'w': 200}

41

In [24]:
def c_sum(*args, **kwargs):
    s = 0
    for i in args:
        s += i
    for k, v in kwargs.items():
        s += v
    return s

In [25]:
c_sum(5,4,2,10,20, a = 50, f = 500, w = 200)

791

In [26]:
c_sum()

0

In [27]:
c_sum(a = 50, f = 500, w = 200)

750

In [30]:
def r_sum(n):
    if n <= 0:
       return 0
    return n + r_sum(n-1)

In [29]:
r_sum(5)

15

In [31]:
f = open('test.txt')

In [32]:
f

In [33]:
type(f)

_io.TextIOWrapper

In [34]:
f.read()

'hi\nfile handling by python tahlildadeh'

In [35]:
f.close()

In [36]:
f.read()

ValueError: I/O operation on closed file.

In [37]:
f = open('test1.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [2]:
f = open('../base_transformer.py')

In [3]:
c = f.read()

In [4]:
print(c)

def mapp(mapeble):
    mapeble = str(mapeble).upper()
    mapping = {'0':0, '1':1 , '2':2 ,'3':3 , '4':4 , '5':5 , '6':6 , '7':7 , '8':8 , '9':9 ,'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F': 15, 'G':16, 'H':17 ,'I':18, 'J':19, 'K':20, 'L':21, 'M':22, 'N':23, 'O':24, 'P':25, 'Q':26, 'R':27, 'S':28, 'T':29, 'U':30, 'V':31, 'W':32, 'X':33, 'Y':34, 'Z':35 }
    return(mapping[mapeble])

def mapprev(mapeble):
    mapping = {0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9', 10: 'A', 11: 'B', 12: 'C', 13: 'D', 14: 'E', 15: 'F', 16: 'G', 17: 'H', 18: 'I', 19: 'J', 20: 'K', 21: 'L', 22: 'M', 23: 'N', 24: 'O', 25: 'P', 26: 'Q', 27: 'R', 28: 'S', 29: 'T', 30: 'U', 31: 'V', 32: 'W', 33: 'X', 34: 'Y', 35: 'Z'}
    return(mapping[mapeble])

def format_check_number(full_number):

    if "." not in list(full_number):
        listi = list(full_number)
        listi.append('.')
        full_number = ''.join(listi)

    if full_number.count(".") > 1:
        print("number formateition should be correct !")
        main()

    str_number = (str(full_number).split("."))
    integer_list = list(str_number[0])
    decimal_list = list(str_number[1])
    return(integer_list,decimal_list)

def format_check_base(number,num_list):
    try:
        number = int(number)
    except ValueError:
        print(" 1 --> number should be integer")
    if number > 36:
        print("the base number should be lower than 36 !")
        main(num_list)
    for item in num_list:
        for i in item:
            if mapp(i) >= number :
                print(" 2--> The number cannot contain characters greater than the base")
                main(num_list)
    return(int(number))
def format_check_goingto_base(number,base,num_list):
    try:
        number = int(number)
    except ValueError:
        print(" 1 --> number should be integer")
    if number == base:
        print("the going to base nmber shouldnt be the same with base !")
        main(num_list)
    if number < 2:
        print("its not possible ")
        main(num_list)

    return(int(number))


def integer_10(num_list,base):
    int_10 = 0
    counter = 1
    while counter != len(num_list)+1:
        int_10 = int_10 + num_list[-(counter)]*(base**(counter-1))
        counter += 1
    return(int_10)

def decimal_10(num_list,base):
    dec_10 = 0
    counter = 0
    while counter != len(num_list):
        dec_10 = dec_10 +num_list[counter]/(base**(counter+1))
        counter += 1
    return(dec_10)

def int10_toBase(number,base):
    number_list =[]
    if number//base < base:
            number_list.append(number//base)
    while number >= base:
        number_list.append(number%base)
        if number//base < base:
            number_list.append(number//base)
        number = number//base
    final_list = []
    count = 1
    while count != len(number_list)+1:
        final_list.append(number_list[-count])
        count += 1
    veryfinall_list=[]
    for item in final_list:
        veryfinall_list.append(mapprev(item))
    base_str = ''
    result = base_str + ''.join(map(str, veryfinall_list))
    return(result)

def dec10_toBase(number,base):
    decimal_list =[]
    counter = 0
    while number != 0.0 and counter < 10:
        number = number*base
        if number > 1:
            numberMod = (number//1)
            number = number - numberMod
            decimal_list.append(int(numberMod))
        else :
            decimal_list.append(0)
        counter += 1
    finall_list = []
    for item in decimal_list:
        finall_list.append(mapprev(item))
    base_str = '.'
    result = base_str + ''.join(map(str, finall_list))
    return(str(result))

def main(checked_number=None,):
    if checked_number == None:
        number = input("please enter your number : ")
        checked_number = format_check_number(number)
    base_number = input("please enter your number base : ")
    checked_base = format_check_base(base_number,checked_number)
    going_to_base = input("please enter your number going to base : ")
    checked_going_to_base = format_check_goingto_base(going_to_base,checked_base,checked_number)

    integer_num = []
    for item in checked_number[0]:
        integer_num.append(mapp(item))

    decimal_num = []
    for item in checked_number[1]:
        decimal_num.append(mapp(item))



    int_10 = integer_10(integer_num,checked_base)
    dec_10 = decimal_10(decimal_num,checked_base)

    if checked_going_to_base == 10:
        return(str(int_10) + ''.join(map(str, str(dec_10).lstrip('0'))),None)

    a = int10_toBase(int_10,checked_going_to_base)
    b = dec10_toBase(dec_10,checked_going_to_base)
    print(a)
    print(b)
    if b == '.':
        b = '.0'


    return(a + ''.join(map(str, b)),str(int_10) + ''.join(map(str, str(dec_10).lstrip('0'))))


a , b  = main()
print("number is :",a)
if b != None:
    print("decimall is :",b)

In [42]:
f.closed

False

In [43]:
f.close()

In [44]:
f.closed

True

In [46]:
f = open('D:\Mostafai\python 1401 paeez\s7\\n_calculate_salary.py')
c = f.read()
print(c)
f.close()

#from salary import salary , tax
#from salary import tax
from a import  salary as s
#from salary import *
personals = {
    'ali':{
        'exp':10,
        'edu':2,
        'level_spc':3,
        'base_salary':6000000
        },
    'hasan':{
        'exp':5,
        'edu':1,
        'level_spc':4,
        'base_salary':5000000
        }
}

for person in personals:
    print(f"""salary of {person} is {s.salary(personals[person]['exp'],
                                          personals[person]['edu'],
                                          personals[person]['level_spc'],
                                          personals[person]['base_salary'] )}""")
print(s.tax(5000000))
print('scound __name:',__name__)

In [47]:
f = open('D:\Mostafai\python 1401 paeez\s7/n_calculate_salary.py')
c = f.read()
print(c)
f.close()

#from salary import salary , tax
#from salary import tax
from a import  salary as s
#from salary import *
personals = {
    'ali':{
        'exp':10,
        'edu':2,
        'level_spc':3,
        'base_salary':6000000
        },
    'hasan':{
        'exp':5,
        'edu':1,
        'level_spc':4,
        'base_salary':5000000
        }
}

for person in personals:
    print(f"""salary of {person} is {s.salary(personals[person]['exp'],
                                          personals[person]['edu'],
                                          personals[person]['level_spc'],
                                          personals[person]['base_salary'] )}""")
print(s.tax(5000000))
print('scound __name:',__name__)

In [48]:
f = open(r'D:\Mostafai\python 1401 paeez\s7\n_calculate_salary.py')
c = f.read()
print(c)
f.close()

#from salary import salary , tax
#from salary import tax
from a import  salary as s
#from salary import *
personals = {
    'ali':{
        'exp':10,
        'edu':2,
        'level_spc':3,
        'base_salary':6000000
        },
    'hasan':{
        'exp':5,
        'edu':1,
        'level_spc':4,
        'base_salary':5000000
        }
}

for person in personals:
    print(f"""salary of {person} is {s.salary(personals[person]['exp'],
                                          personals[person]['edu'],
                                          personals[person]['level_spc'],
                                          personals[person]['base_salary'] )}""")
print(s.tax(5000000))
print('scound __name:',__name__)

In [50]:
from pprint import pprint
f = open(r'D:\Mostafai\python 1401 paeez\s7\n_calculate_salary.py')
c = f.readlines()
pprint(c)

['#from salary import salary , tax\n',
 '#from salary import tax\n',
 'from a import  salary as s\n',
 '#from salary import *\n',
 'personals = {\n',
 "    'ali':{\n",
 "        'exp':10,\n",
 "        'edu':2,\n",
 "        'level_spc':3,\n",
 "        'base_salary':6000000\n",
 '        },\n',
 "    'hasan':{\n",
 "        'exp':5,\n",
 "        'edu':1,\n",
 "        'level_spc':4,\n",
 "        'base_salary':5000000\n",
 '        }\n',
 '}\n',
 '\n',
 'for person in personals:\n',
 '    print(f"""salary of {person} is {s.salary(personals[person][\'exp\'],\n',
 "                                          personals[person]['edu'],\n",
 "                                          personals[person]['level_spc'],\n",
 "                                          personals[person]['base_salary'] "
 ')}""")\n',
 'print(s.tax(5000000))\n',
 "print('scound __name:',__name__)"]

In [51]:
for i in c:
    print(i)

#from salary import salary , tax

#from salary import tax

from a import  salary as s

#from salary import *

personals = {

    'ali':{

        'exp':10,

        'edu':2,

        'level_spc':3,

        'base_salary':6000000

        },

    'hasan':{

        'exp':5,

        'edu':1,

        'level_spc':4,

        'base_salary':5000000

        }

}



for person in personals:

    print(f"""salary of {person} is {s.salary(personals[person]['exp'],

                                          personals[person]['edu'],

                                          personals[person]['level_spc'],

                                          personals[person]['base_salary'] )}""")

print(s.tax(5000000))

print('scound __name:',__name__)

In [53]:
c[9]

"        'base_salary':6000000\n"

In [54]:
c[5:12]

["    'ali':{\n",
 "        'exp':10,\n",
 "        'edu':2,\n",
 "        'level_spc':3,\n",
 "        'base_salary':6000000\n",
 '        },\n',
 "    'hasan':{\n"]

In [55]:
f.seek(0)

0

In [56]:
f.read()

'#from salary import salary , tax\n#from salary import tax\nfrom a import  salary as s\n#from salary import *\npersonals = {\n    \'ali\':{\n        \'exp\':10,\n        \'edu\':2,\n        \'level_spc\':3,\n        \'base_salary\':6000000\n        },\n    \'hasan\':{\n        \'exp\':5,\n        \'edu\':1,\n        \'level_spc\':4,\n        \'base_salary\':5000000\n        }\n}\n\nfor person in personals:\n    print(f"""salary of {person} is {s.salary(personals[person][\'exp\'],\n                                          personals[person][\'edu\'],\n                                          personals[person][\'level_spc\'],\n                                          personals[person][\'base_salary\'] )}""")\nprint(s.tax(5000000))\nprint(\'scound __name:\',__name__)'

In [57]:
f.read()

''

In [17]:
f.seek(5)

5

In [18]:
f.read(5)

'app(m'

In [43]:
f.read(5)

' mapp'

In [38]:
f.read(2)

'.u'

In [44]:
f.tell()

62

In [64]:
f.read()

' import salary , tax\n#from salary import tax\nfrom a import  salary as s\n#from salary import *\npersonals = {\n    \'ali\':{\n        \'exp\':10,\n        \'edu\':2,\n        \'level_spc\':3,\n        \'base_salary\':6000000\n        },\n    \'hasan\':{\n        \'exp\':5,\n        \'edu\':1,\n        \'level_spc\':4,\n        \'base_salary\':5000000\n        }\n}\n\nfor person in personals:\n    print(f"""salary of {person} is {s.salary(personals[person][\'exp\'],\n                                          personals[person][\'edu\'],\n                                          personals[person][\'level_spc\'],\n                                          personals[person][\'base_salary\'] )}""")\nprint(s.tax(5000000))\nprint(\'scound __name:\',__name__)'

In [65]:
f.tell()

745

In [66]:
f.seek(15)

15

In [67]:
f.read(10)

'port salar'

In [68]:
for line in f:
    print(line)

y , tax

#from salary import tax

from a import  salary as s

#from salary import *

personals = {

    'ali':{

        'exp':10,

        'edu':2,

        'level_spc':3,

        'base_salary':6000000

        },

    'hasan':{

        'exp':5,

        'edu':1,

        'level_spc':4,

        'base_salary':5000000

        }

}



for person in personals:

    print(f"""salary of {person} is {s.salary(personals[person]['exp'],

                                          personals[person]['edu'],

                                          personals[person]['level_spc'],

                                          personals[person]['base_salary'] )}""")

print(s.tax(5000000))

print('scound __name:',__name__)

In [69]:
f.close()

In [53]:
f = open('test.txt')
c = f.read()
print(c)
f.close()

name, age, bmi
s, 20, 25
a, 25, 26
d, 40, 27
c, 50, 30

In [ ]:
v = c.split('\n')
result = {k.strip():[] for k in v[0].split(',')}
print(result)
for line in v[1:]:
    result['name'].append(line.split(',')[0])
    result['age'].append(line.split(',')[1])
    result['bmi'].append(line.split(',')[2])
result

{'name': [], 'age': [], 'bmi': []}

KeyError: 0